@charset "UTF-8";
/* General styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

.button {
  border: 0px solid;
  outline: 2px solid;
  color: white;
  outline-color: rgb(134, 5, 5);
  outline-offset: 4px;
  text-shadow: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 2.5rem;
  max-width: 160px;
  width: 100%;
  letter-spacing: 0.7rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  transition: all 550ms cubic-bezier(0.36, 0.63, 0.5, 0.73);
}

.button:hover {
  border: 2px solid var(--accent);
  outline-color: rgba(140, 7, 7, 0);
  outline-offset: 15px;
  color: rgb(180, 153, 153);
}

.btn-sb {
  margin: 2rem;
  text-align: center;
}

.cont-btn {
  margin-top: 2rem;
}

.scroll-down-link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #d4d1d1;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before, .scroll-down::after {
  height: 10px;
  width: 10px;
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid #a02d2d;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: none;
  border-left: none;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes hidden {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
.css-nav {
  background-color: transparent !important;
}
.css-nav .logo {
  width: 70px;
}
.css-nav .css-ul {
  gap: 2rem;
  align-items: center;
}
.css-nav .css-ul a {
  color: white !important;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
.css-nav .css-ul a:hover {
  color: rgb(134, 5, 5) !important;
  font-weight: bold;
  text-decoration: underline rgb(134, 5, 5);
}

.navbar-toggler {
  background-color: rgb(94, 73, 73) !important;
}

.bg-footer {
  background-color: rgb(134, 5, 5);
  padding: 30px;
  opacity: 1;
}

.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 20px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: "";
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}

body {
  background-color: black;
  background-position: center;
  background-image: url("../assets/contact2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#hero {
  height: 100vh;
}

.hero-title {
  font-family: "Oswald", sans-serif;
  margin-top: 6rem;
  font-size: 130px;
  color: white;
}
.hero-title:hover {
  color: grey;
}

.span-main {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 25px;
  margin: 2rem;
}

.promocard {
  width: 170px;
}

#about {
  margin-bottom: 4rem;
}

.section-title {
  color: white;
  font-size: 70px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.7rem;
  margin: 3rem;
}

.sect-span {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 25px;
}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

.spotify-container {
  align-items: center;
  width: 50%; /* Adjust as needed */
  height: 500px; /* Set the height for the container */
  border-radius: 12px; /* Add border-radius to the container */
  overflow: hidden; /* Optional: Hide any overflow content */
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.sobremi {
  background-color: black;
  background-position: center;
  background-image: url("../assets/sobremi.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.text-sb {
  color: white;
  margin: 3rem;
  margin-bottom: 5rem;
  width: 100%;
  font-weight: 300;
  text-decoration: none;
  justify-content: center;
  font-size: 20px;
}

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 80px 32px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;
}

.articles article {
  max-width: 320px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px;
}

.articles article a {
  display: inline-flex;
  color: var(--primary);
  text-decoration: none;
}

.articles article h2 {
  margin: 0 0 18px 0;
  font-size: 1.6rem;
  color: var(--secondary);
  transition: color 0.3s ease-out;
}

.articles article img {
  max-width: 100%;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.article-preview {
  padding: 24px;
  background: rgb(205, 202, 202);
}

.articles figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.articles figure img {
  height: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  object-fit: cover;
}

.articles article:hover img {
  transform: scale(1.5);
}

.cont-back {
  background-color: black;
  background-position: center;
  background-image: url("../assets/contactomain.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px "Oswald", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 569px) {
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control, textarea {
    margin: 0 auto;
  }
  .name, .email, textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}
@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
/*CSS Gallery*/
/*END CSS Gallery*/
.ul-gal {
  align-self: center;
  list-style: none;
  margin: 3rem;
  padding: 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 100%;
  width: 70rem;
}
.ul-gal .gal-img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 1000ms;
}
.ul-gal figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  transform-origin: center;
  opacity: 0;
  transform: scale(2);
  transition: opacity 300ms;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) figure::after {
  opacity: 1;
}

a:is(:hover, :focus) figcaption {
  opacity: 1;
  transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
  figcaption {
    transform: translate3d(0, 2rem, 0);
  }
  figure::after {
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    transition: transform 900ms;
  }
  a:is(:hover, :focus) figure::after {
    transform: scale(2.5);
  }
  a:is(:hover, :focus) figcaption {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 600ms 400ms, transform 600ms 400ms;
  }
  a:is(:hover, :focus) img {
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    background-color: black;
    background-position: center;
    background-image: url("../assets/sud2.png");
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }
  .hero-title {
    margin-top: 4rem;
    font-size: 75px;
  }
  .span-main {
    font-size: 25px;
  }
  .scroll-down {
    align-items: center;
  }
  .button {
    font-size: 20px;
  }
  .btn-sb .button {
    font-size: 17px;
  }
  .button {
    background-color: rgb(134, 5, 5);
    margin-bottom: 4rem;
  }
  .sobremi {
    background-color: black;
  }
  .sobremi .text-sb {
    margin: 1rem 0 2rem 0;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    justify-content: center;
    font-size: 15px;
  }
  .ul-gal {
    margin: 5% auto;
  }
  .section-title {
    font-size: 80px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0;
  }
  .sect-span {
    font-size: 25px;
  }
  .spot {
    margin: 0;
  }
}
/* For Tablet View */
@media only screen and (min-width: 768px) and (max-width: 995px) {
  .hero-title {
    font-family: "Oswald", sans-serif;
    margin-top: 10rem;
    font-size: 150px;
    color: white;
  }
  .span-main {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 40px;
    margin: 2rem;
  }
  .button {
    font-size: 30px;
  }
  .scroll-down-link {
    margin-top: 5rem;
  }
}
.music {
  background-color: black;
  background-position: center;
  background-image: url("../assets/music.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.spot {
  margin: 4rem;
}

/*# sourceMappingURL=style.css.map */
