#hero{
    height: 100vh; 
  }


  .hero-title {
    font-family: 'Oswald', sans-serif;
    margin-top: 5rem;
    font-size: 130px;
    color: white;
    
    &:hover {
        color: grey;
    }
} 


.span-main {
  font-family: 'Oswald', sans-serif;
  color:white;
  font-size: 25px;
  margin: 2rem;

}