@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-color: black;
        background-position: center;
        background-image: url("../assets/sud2.png");
        background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    }

    .hero-title {
        margin-top:4rem;
        font-size: 75px;
    }

    .span-main {
        font-size: 20px;
    }

    .scroll-down{
        display: none;
    }

    .button {
        font-size: 20px;
    }

    .btn-sb {
        .button {
            font-size: 17px;
        }
    }

    .button{
        background-color: rgb(134, 5, 5);
    }
 



    /////sobremi
    .sobremi {
        background-color: black;
        .text-sb{
            margin: 1rem 0 2rem 0;
            text-align: center;
          font-weight: 300;
          text-decoration: none;
          justify-content: center;
          font-size: 15px;
          
            
        }
    }

    ////galeria
    .ul-gal{
        margin:5% auto;
    }

    ///titulos
    .section-title{
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0;
        
        

      }




      .spot{
        margin: 0;
        
      }
}




     