/* For Tablet View */
@media only screen and (min-width: 768px) and (max-width: 995px){
    .hero-title {
        font-family: 'Oswald', sans-serif;
        margin-top: 10rem;
        font-size: 150px;
        color: white;
    }
    
.span-main {
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size:40px;
    margin: 2rem;
  
  }
    .button{
        font-size: 30px;
    }
    
    
    
    
    
    .scroll-down-link {
        margin-top: 5rem;
    }

}
   

 