.music{
    background-color: black;
    background-position: center;
    background-image: url("../assets/music.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.spot{
    margin:4rem;
}
