.sobremi{
    background-position: center;
    background-image: url("../assets/sobremi.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-sb{
    color:white;
    margin: 3rem;
  width: 100%; 
  font-weight: 300;
  text-decoration: none;
  justify-content: center;
    
}