/* General styles */
* {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("../assets/contact2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}